= render "musicians/profiles/tabs"

%h1 External Services:
%p Below are the external services you can connect to.

%ul.services
  %li.facebook
    - if current_musician.authenticated_with?(:facebook)
      = link_to "Disconnect from Facebook", musicians_authentication_path(:facebook), :method => :delete, :class => "btn-auth btn-facebook large disconnect"
    - else
      = link_to "Connect to Facebook", musician_omniauth_authorize_path(:facebook), :class => "btn-auth btn-facebok large"
  %li.twitter
    - if current_musician.authenticated_with?(:twitter)
      = link_to "Disconnect from Facebook", musicians_authentication_path(:twitter), :method => :delete, :class => "btn-auth btn-twitter large disconnect"
    - else
      = link_to "Connect to Facebook", musician_omniauth_authorize_path(:twitter), :class => "btn-auth btn-twitter large"
