<h1>Edit Account</h1>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :first_name, :label => "First Name", :required => true, :autofocus => true %>
    <%= f.input :last_name, :label => "Last Name", :required => true, :autofocus => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :password, :label => "New Password", :hint => "leave it blank if you don't want to change it", :required => false %>
    <%= f.input :password_confirmation, :label => "Confirm", :required => false %>
    <%= f.input :current_password, :label => "Current Password", :hint => "we need your current password to confirm your changes", :required => true %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h1>Services</h1>

<ul class="services">
  <li class="facebook">
    <h3>Facebook</h3>
    <% if current_musician.authenticated_with?(:facebook) %>
      <%= link_to "Disconnect", musicians_authentication_path(:facebook), :method => :delete %>
    <% else %>
      <%= link_to "Connect", musician_omniauth_authorize_path(:facebook) %>
    <% end %>
  </li>
  <li class="twitter">
    <h3>Twitter</h3>
    <% if current_musician.authenticated_with?(:twitter) %>
      <%= link_to "Disconnect", musicians_authentication_path(:twitter), :method => :delete %>
    <% else %>
      <%= link_to "Connect", musician_omniauth_authorize_path(:twitter) %>
    <% end %>
  </li>
</ul>

<h3>Cancel My Account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.
