<section id="sign-up-email">
  <h1>Sign Up for E-mail:</h1>

  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="inputs">
      <%= f.input :first_name, :label => "First Name", :required => true, :autofocus => true %>
      <%= f.input :last_name, :label => "Last Name", :required => true, :autofocus => true %>
      <%= f.input :email, :required => true %>
      <%= f.input :password, :required => true %>
      <%= f.input :password_confirmation, :label => "Confirm", :required => true %>
    </div>

    <div class="actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>
</section>

<section id="sign-up-sign-in">
  <h1>Sign In with Other Services:</h1>
  <p><%= link_to "Sign In with Facebook", musician_omniauth_authorize_path(:facebook), :class => "btn-auth btn-facebook large" %></p>
  <p><%= link_to "Sign In with Twitter", musician_omniauth_authorize_path(:twitter), :class => "btn-auth btn-twitter large" %></p>
</section>

<section id="sign-up-registered">
  <h1>Already Registered? <%= link_to "Sign In with E-mail", new_musician_session_path %></h1>
</section>
