= render "discussion_categories/index"

%article#discussion
  %header
    %h1= @discussion_category
    %p= @discussion_category.description
  
  %h2 On #{link_to @discussion.commentable, path_to_model(@discussion.commentable)}:
  %h3 Back to all #{link_to @discussion_category, @discussion_category} Discussions

  = render "comments/index", :commentable => @discussion.commentable, :comment => @discussion
