%div.comments{:data => {"commentable-type" => commentable.class.model_name.underscore, "commentable-id" => commentable.id}}
  %ul.comments-list

  - if musician_signed_in?
    %p= link_to "Add a Comment", "#", :class => "add-comment"
    = simple_form_for Comment.new, :remote => true, :html => {:id => "create-comment-form", "data-type" => "json", :style => "display: none"} do |f|
      %h4 New Comment:
      = f.input :subject, :required => false, :hint => "Optional Subject"
      = f.input :content
      %div.buttons= f.submit "Add Comment", :disabled_with => "Processing..."
  - else
    %p.login-required 
      Sorry, but you must be logged in to place comments. #{link_to "Log in", new_musician_session_path} or #{link_to "sign up", new_musician_registration_path}.

  %script{:type => "text/template", :id => "comment-template"}
    %li.comment
      :plain
        <img class="avatar" src="<%= author_avatar_url %>" alt="<%= author_name %>'s Avatar'" />
      %cite
        <%= author_name %>
      %h4 <%= subject %>
      %p <%= content %>
