%h2= model.title
%cite by #{model.composer}

%ul.attributes
  - if model.style?
    %li= model.style
  - if model.meter
    %li= model.meter
  - if model.primary_key
    %li
      in 
      = model.primary_key
      = model.tonality
      = " (Also #{model.secondary_key})" if model.secondary_key
  - if model.form
    %li
      = model.form
      = "#{model.form_length} Bars" if model.form_length
      = model.form_lengths if model.form_lengths
