%article[musician]
  = image_tag musician.avatar_url, :class => "avatar"

  %h3= link_to musician, musician
  - if musician.instrument
    %p
      %label Instrument:
      = musician.instrument
  - if musician.born_on
    %p
      %label Born:
      = musician.born_on
  - if musician.died_on
    %p
      %label Died:
      = musician.died_on
  %p= musician.biography
