%article[musician]
  %ul.attributes
    - if musician.instrument
      %li= musician.instrument
    - if musician.secondary_instrument
      %li= musician.secondary_instrument
    - if musician.location
      %li= musician.location
    - if musician.born_on?
      %li
        Born: 
        = musician.born_on
    - if musician.died_on?
      %li
        Died:
        = musician.died_on

  = link_to image_tag(musician.avatar_url(:small), :alt => "#{musician}'s Avatar"), musician, :class => "avatar" if musician.has_avatar?
  %h3= link_to_if musician.has_profile?, musician, musician
  %p= truncate musician.biography, :length => 250
