%section#search
  = form_tag musicians_path, :method => :get do
    = label_tag :query, "Search: "
    = text_field_tag :query, params[:query], :placeholder => "Name of Musician..."
    = select_tag :instrument, options_for_select([['All Instruments', '']]) + options_from_collection_for_select(Instrument.all, :to_param, :name, params[:instrument])
    = select_tag :show, options_for_select([['Musicians', 'musicians'], ['Jazzity Members', 'members'], ['Musicians & Jazzity Members', 'musicians_members']], params[:show])
    %span#location-container{:style => ("display: none" if params[:show] == "musicians" or params[:show].nil?)}
      Near: 
      = text_field_tag :location, params[:location], :placeholder => "e.g. San Diego, CA"
    = submit_tag "Go", :name => nil

