%section#search
  = form_tag searches_path do
    = label_tag "Search Musicians: "
    = text_field_tag :query
    = submit_tag "Go"

%section#musicians
  = render @musicians
  = render @musicians
  = render @musicians
  = render @musicians
  = render @musicians

%section#musician-resources
  %section#musician-books
    = render "resources/index", :resources => Resource.amazon_books.random.limit(5)
