= render "musicians/profiles/tabs" if @musician == current_musician

%article#musician
  = render "musicians/header"

  %section#musician-description
    = raw text_to_html(@musician.biography)

  - if @musician.famous?
    %section#musician-comments
      %h2 Discussion:
      = render "comments/index", :commentable => @musician

  %section#musician-activity
    %h2 Recent Discussion:
    %div.activity
      = render "timeline_events/index", :timeline_events => @timeline_events
      - if @timeline_events.empty?
        %p.no-results No activity yet!

#sidebar
  - if @musician.resources.amazon_books.exists?
    %section#musician-books
      %h2 Resources:
      = render "resources/index", :resources => @musician.resources.amazon_books.random.limit(3)

  - if @musician.resources.itunes_tracks.exists?
    %section#musician-recordings
      %h2 Popular Recordings:
      = render "resources/index", :resources => @musician.resources.itunes_tracks.random.limit(10)

