%article#musician
  = render "musicians/header"
  = render "musicians/tabs"

  %section#musician-favorites
    %h2 Favorite Musicians:
    %ul.favorite-musicians
      - @musician.favorite_musicians.each do |favorite_musician|
        %li
          = image_tag favorite_musician.avatar_url if favorite_musician.has_avatar?
          = link_to favorite_musician, favorite_musician

  %section#musician-activity
    %h2 Recent Activity:
    %div.activity
      = render "timeline_events/index", :timeline_events => @musician.timeline_events

  %section#musician-tunes
    %h2 Tunes:
    %ul.tunes-list
      - @musician.musician_tunes.each do |musician_tune|
        %li= musician_tune

