%header
  = render "shared/social_sharing"

  %h1= @chord.title
  %h2
    = @chord.main_symbol_name
    - if @chord.other_symbol_names.present?
      %span (Also: #{@chord.other_symbol_names.join(', ')})

  %p= @chord.information
  - if @chord.parent
    %p
      %label Parent Chord:
      = link_to @chord.parent, [@key, @chord.parent]
  %p
    %label Intervals:
    = @chord.interval_names.join(", ")

  .staff.chord-staff{"data-id" => @chord.id, "data-staff" => @chord.octavized_notes.to_json, "data-staff-clef" => "treble", "width" => 150}

