%article#chord
  = render "chords/header"
  = render "chords/key_selector"

  %nav.related-modes
    %h3 Related Scales/Modes:
    %ul.modes-list
      - @chord.chord_scales.each do |chord_scale|
        = render chord_scale.mode, :key => (@chord.key || Key.default).shifted(chord_scale.offset)

  - if @chord.voicings.present?
    %nav.related-voicings
      %h3 Popular Voicings for #{@chord} (#{link_to "See All #{@chord.voicings.count}", [@chord, :voicings]}):
      %ul.voicings-list
        = render @chord.voicings, :key => @key

