= render "index"

%article#chord
  = render "chords/key_selector"
  = render "chords/header"

  %section#notes-sequence
    %h3= @chord.notes.join(", ")

  %nav.related-modes
    %h3 Related Scales/Modes:
    %ul.modes-list
      - @chord.chord_scales.each do |chord_scale|
        = render chord_scale.mode, :key => (@chord.key || Key.default).shifted(chord_scale.offset)

  - if @chord.voicings.present?
    %nav.related-voicings
      %h3 Popular Voicings for #{@chord} (#{link_to "See All #{@chord.voicings.count}", [@chord, :voicings]}):
      %ul.voicings-list
        = render @chord.voicings, :key => @key

  %section#chord-comments
    %h2 Discussion:
    = render "comments/index", :commentable => @chord
