= render "index"

%article#chord
  %nav#key-selector
    %h2 Key:
    %ul
      - Key.primaries.each do |key|
        %li= link_to_unless @key == key, key, [key, @chord]

  %header
    %h1= @chord.title
    %p= @chord.information
    - if @chord.parent
      %p
        %label Parent Chord:
        = link_to @chord.parent, [@key, @chord.parent]
    %p
      %label Quality:
      = @chord.chord_quality
    %p
      %label Steps:
      = @chord.step_names.join(", ")
    %p
      %label Intervals:
      = @chord.interval_names.join(", ")
    %p
      %label Symbols:
      = @chord.symbols_list

  %section#notes-sequence
    %h3= @chord.notes.join(", ")

  %section#staff
    .staff.chord-staff{"data-id" => @chord.id, "data-staff-notes" => @chord.octavized_notes.to_json, "data-staff-clef" => "treble"}

  %nav.related-modes
    %h3 Related Scales/Modes:
    %ul.modes-list
      = render @chord.modes, :key => @key

  %nav.related-voicings
    %h3 Voicings for #{@chord}:
    %ul.voicings-list
      = render @chord.voicings, :key => @key
