= render "chords/index"

%article#chord
  = render "chords/key_selector"
  = render "chords/header"

  - if @voicings.present?
    %nav.related-voicings
      %h3 Voicings for #{@chord}:
      %ul.voicings-list
        = render @voicings, :key => @key

