= render "musicians/profiles/tabs"

%section#liked-musicians
  %h2 Musicians

  %ul
    - @musician.likes.musicians.each do |like|
      %li
        = like.likeable
        = link_to "X", musicians_like_path(like), :method => :delete
  
  - if @musician.likes.musicians.empty?
    %p.no-results You haven't liked any musicians yet. #{link_to "Go find some!", musicians_path}

%section#liked-tunes
  %h2 Tunes
  
  %ul
    - @musician.likes.tunes.each do |like|
      %li
        = like.likeable
        = link_to "X", musicians_like_path(like), :method => :delete

  - if @musician.likes.tunes.empty?
    %p.no-results You haven't liked any tunes yet. #{link_to "Go find some!", tunes_path}
