%nav.profile
  %ul
    = navigation_link_to "View Profile", musician_path(current_musician), MusiciansController
    = navigation_link_to "Manage Profile", edit_musicians_profile_path, Musicians::ProfilesController, :edit
    = navigation_link_to "Account & Password", edit_musician_registration_path, Devise::RegistrationsController
    = navigation_link_to "Favorites", musicians_likes_path, Musicians::LikesController
    = navigation_link_to "My Discussions", discussions_musicians_profile_path, Musicians::ProfilesController, :discussions
    = navigation_link_to "Privacy Settings", privacy_musicians_profile_path, Musicians::ProfilesController, :privacy
    = navigation_link_to "Connected Accounts", musicians_authentications_path, Musicians::AuthenticationsController
