= render "musicians/profiles/tabs"

= simple_nested_form_for @musician, :url => musicians_profile_path, :html => {:method => :put, :id => "update-profile-form"} do |f|
  %h1 Your Profile

  %fieldset#profile-basic
    = f.input :website_url, :label => "Website URL", :required => false, :placeholder => "http://www.yourwebsite.com/"
    = f.input :twitter_username, :label => "Twitter Handle", :required => false, :placeholder => "@jazzity"
    = f.input :youtube_username, :label => "YouTube Username", :required => false
    = f.input :location, :required => false
    = f.association :instrument, :required => false, :collection => Instrument.all
    = f.association :secondary_instrument, :label => "Other Instrument", :required => false, :collection => Instrument.all
    = f.input :music_school, :label => "Music School", :required => false
    = f.input :plays_professionally, :label => "Professional?", :required => false, :as => :boolean
    = f.input :studies_privately, :label => "Study Privately?", :required => false, :as => :boolean
      
  %fieldset#profile-favorite-musicians
    %h2 Favorite Musicians:

    = f.fields_for :musician_favorites do |mf|
      %div.musician-favorite
        = mf.input :favorite_musician, :label => "Favorite Musician", :required => false, :collection => Musician.all do
          = mf.collection_select :favorite_musician_id, Musician.all, :id, :name, :include_blank => true
          = mf.link_to_remove "Remove"

    = f.link_to_add "Add Another Musician", :musician_favorites

  %fieldset.buttons
    = f.submit "Save Profile"
