%header
  %h1= @progression.title

  - if @progression.meter
    %p
      %label Meter: 
      = @progression.meter
  - if @progression.form
    %p
      %label Form:
      = @progression.form
  %p
    %label Full Tune?
    = @progression.full_tune? ? "Yes" : "No"
  %p
    %label Bars:
    = @progression.bars
