%section#search
  = form_tag searches_path do
    = label_tag :query, "Search Progressions: "
    = text_field_tag :query
    = submit_tag "Go"

%section#progressions
  - @progression_families.each_with_index do |family, i|
    %article.progression-family{:style => ("clear: left" if i % 3 == 0)}
      %h2= family
      %ul.progressions-list
        = render family.progressions
