%article#progression
  = render "progressions/header"
  = render "progressions/tabs"

  %p
    = @progression.summary
  %p
    = @progression.information

  - if @progression.tunes_based_on.exists?
    %section#tunes-based-on
      %h2 Tunes Based on this Progression:
      %ul
        - @progression.tunes_based_on.each do |tune|
          %li= link_to tune, tune
  
