%article#progression
  = render "progressions/header"
  = render "progressions/tabs"

  %nav#key-selector
    %h2 Key:
    %ul
      - Key.primaries.each do |key|
        %li{:class => ("current" if @key == key)}= link_to_unless @key == key, key, [key, @progression]

  %p
    = @progression.summary
  %p
    = @progression.information

  %section#staff
    .staff.progression-staff{"data-staff" => {"notes" => @staff_notes}.to_json, "data-clef" => "treble,bass", "height" => 160, "width" => 1000}

  %section#voice-leading
    = form_tag({}, :method => :get) do
      %h2 Voice Leading:
      %ul
        - @progression.chords.each_with_index do |chord, i|
          %li
            = chord.short_name
            = "("
            = select_tag("v[#{i}]", voice_leading_options_for_select(chord, i))
            = ")"
      = submit_tag "Update Voicings", :name => nil

  - if @progression.tunes_based_on.exists?
    %section#tunes-based-on
      %h2 Tunes Based on this Progression:
      %ul
        - @progression.tunes_based_on.each do |tune|
          %li= link_to tune, tune
  
