%article#progression
  = render "progressions/header"
  = render "progressions/tabs"

  %nav#key-selector
    %h2 Key:
    %ul
      - Key.primaries.each do |key|
        %li= link_to_unless @key == key, key, [key, @progression]

  %p
    = @progression.summary
  %p
    = @progression.information

  .staff.progression-staff{"data-staff" => @progression.staff_notes.to_json, "data-clef" => "treble,bass", "height" => 160}

  - if @progression.tunes_based_on.exists?
    %section#tunes-based-on
      %h2 Tunes Based on this Progression:
      %ul
        - @progression.tunes_based_on.each do |tune|
          %li= link_to tune, tune
  
