%article#chord-sequence
  %header
    %h1= @chord_sequence.title

  %nav#key-selector
    %h2 Key:
    %ul
      - Key.primaries.each do |key|
        %li{:class => ("current" if @key == key)}= link_to_unless @key == key, key, [key, @chord_sequence]

  %section#staff
    .staff.progression-staff{"data-staff" => @chord_sequence.staff_notes.to_json, "data-clef" => "treble,bass", "height" => 160}

  %section#voice-leading
    %h2 Voice Leading:
    %ul
      - @chord_sequence.chord_voicings.each_with_index do |voicing, i|
        %li
          = voicing.chord_in_key.short_name
          = "("
          = select_tag("voicing_ids[#{i}]", options_from_collection_for_select(voicing.chord.voicings, :id, :name, voicing.id))
          = ")"

  -# TODO:
    %nav.related-progressions
      %h3 Related Progressions:
      %ul.progressions-list
        = render @chord_sequence.progressions

