%section#search
  = form_tag searches_path do
    = label_tag :query, "Explore Jazz: "
    = text_field_tag :query, params[:query], "data-autocomplete" => "/searches/autocomplete"
    = submit_tag "Go"
    = link_to "What can I search for?", "#"

%section#search-results
  %h1 #{@results.count} Search Results for "#{params[:id]}":

  %ul.searchables-list
    - @results.each do |result|
      - model = result.respond_to?(:target) ? result.target : result

      %li.searchable
        = link_to path_to_searchable(result) do
          = render "searches/searchables/#{model.class.name.underscore}", :model => model, :result => result
