%section#search
  = form_tag searches_path do
    = label_tag :query, "Explore Jazz: "
    = text_field_tag :query, params[:query], "data-autocomplete" => "/searches/autocomplete"
    = submit_tag "Go"
    = link_to "What can I search for?", "#"

%section#activity
  %h2 Recent Discussion:
  %div.activity
    = render "timeline_events/index", :timeline_events => @timeline_events
    - if @timeline_events.empty?
      %p.no-results No discussions yet!

%section#search-examples
  %h2 Examples: 
  %ul
    %li= link_to_search_example "Alone Together"
    %li= link_to_search_example "Autumn Leaves"
    %li= link_to_search_example "Rhythm Changes"
    %li= link_to_search_example "Blues"
  %ul
    %li= link_to_search_example "Eb Dorian"
    %li= link_to_search_example "C Major Scale"
    %li= link_to_search_example "Eb Lydian Augmented"
    %li= link_to_search_example "Tri-Tone Substitution"
  %ul
    %li= link_to_search_example "Ebmaj7"
    %li= link_to_search_example "C7alt"
    %li= link_to_search_example "G7#11"
    %li= link_to_search_example "F G B D"
  %ul
    %li= link_to_search_example "Eb G Bb D"
    %li= link_to_search_example "A C E G"
    %li= link_to_search_example "Dmin7, G7, Cmaj7"
    %li= link_to_search_example "D F A C, F G B D, C E G B"

%section#features-overview
  = render "shared/social_sharing"

  %h1 What is Jazzity?
  %article.introduction
    %p Jazzity is a community and knowledge engine for jazz musicians. Explore chord, scale, progression, and tune relationships, connect and learn with other musicians, and discuss jazz topics.

  %article
    = image_tag "home/chord_example.png"
    %h2 Explore Chord/Scale/Voicing Relationships
    %p
      Jazzity extensively understands chords, scales, and voicings. Learn and explore these relationships, and see them plotted in staff notation.
  %article
    = image_tag "home/notes_collection_example.png"
    %h2 Analyze a Note Sequence
    %p
      Search for a list of notes separated by commas, and Jazzity will analyze your input against it's knowledge of chords, scales, and progressions.
  %article
    %h2 Explore &amp; Track Jazz Tunes
    %p
      Jazzity's database of jazz standards connects you with the tunes you know and love. See which jazz concepts are used in your tune, explore progressions found therein, and find famous recordings and other resources to help you learn. You can also "like" tunes and specify which ones are part of your repetoire. 
  %article
    %h2 Discuss Jazz Concepts
    %p
      Any pieces of information on the site is open to discussion. Join the discussion and see what others have to say!
  %article
    %h2 Connect With Other Musicians
    %p
      Create a public profile to get yourself out there and connect with other local musicians. See what others are working on.
  %article
    %h2 So, how is this done?
    %p
      The core of Jazzity is a mathematical model of jazz theory, allowing us to fully analyze - in real time - your input, sort of like 
      #{link_to "Wolfram Alpha", "http://www.wolframalpha.com/"}, but specific to Jazz!

