%section#search
  = form_tag searches_path do
    = label_tag "Explore Jazz: "
    = text_field_tag :query
    = submit_tag "Go"

%section#search-examples
  %h2 Examples: 
  %ul
    %li= link_to_search_example "All The Things You Are"
    %li= link_to_search_example "Autumn Leaves"
    %li= link_to_search_example "Rhythm Changes"
    %li= link_to_search_example "Blues"
  %ul
    %li= link_to_search_example "Eb Dorian"
    %li= link_to_search_example "C Major Scale"
    %li= link_to_search_example "Eb Lydian Augmented"
    %li= link_to_search_example "Tri-Tone Substitution"
  %ul
    %li= link_to_search_example "Ebmaj7"
    %li= link_to_search_example "C7alt"
    %li= link_to_search_example "G7#11"
    %li= link_to_search_example "F,G,B,D"
  %ul
    %li= link_to_search_example "Eb G Bb D"
    %li= link_to_search_example "A C E G in A Minor"
    %li= link_to_search_example "Dmin7, G7, Cmaj7"
    %li= link_to_search_example "D,F,A,C | F,G,B,D | C,E,G,B"
  %footer
    = button_to "What kinds of information can I search for?", "#"

%section#about-site
  %h2 What is Jazzity?
  %p Phasellus ac libero a lorem auctor mattis.
  %p
    Suspendisse vestibulum dignissim quam. Integer vel augue. Phasellus nulla purus, interdum ac, venenatis non, varius rutrum, leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 

%section#features-overview
  %article
    %h2 Explore Chord/Scale Relationships
    %p
      Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.
  %article
    %h2 Analyze a Note Sequence
    %p
      Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.
  %article
    %h2 Explore Popular Jazz Tunes
    %p
      Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.
  %article
    %h2 Discuss Jazz Concepts
    %p
      Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.
  %article
    %h2 Upload MIDI Files for Analysis
    %p
      Coming soon, the ability to upload a MIDI file and have it analyzed or concepts in jazz theory.

