%header
  = render "shared/social_sharing"

  %h1= @tune.title
  %dl
    - if @tune.vehicle
      %dd Vehicle: 
      %dt= @tune.vehicle
    - if @tune.meter
      %dd Meter: 
      %dt= @tune.meter
    - if @tune.concept
      %dd Concept: 
      %dt= @tune.concept
    - if @tune.primary_key
      %dd Key:
      %dt
        = @tune.primary_key
        = @tune.tonality
        = " (Also #{@tune.secondary_key})" if @tune.secondary_key
    - if @tune.form
      %dd Form:
      %dt
        = @tune.form
        = "#{@tune.form_length} Bars" if @tune.form_length
        = @tune.form_lengths if @tune.form_lengths
    - if @tune.based_on_progression
      %dd Based on Progression:
      %dt= link_to @tune.based_on_progression, @tune.based_on_progression
