%section#search
  = form_tag tunes_path, :method => :get do
    = label_tag "Search Tunes: "
    = text_field_tag :query, params[:query]
    = submit_tag "Go", :name => nil

%section#tunes
  = paginate @tunes
  = render @tunes
  = paginate @tunes

#tune-resources
  %section#tune-books
    = render "resources/index", :resources => Resource.amazon_books.random.limit(5)
