= render "search_box"

%section#tunes
  = paginate @tunes
  = render @tunes
  = paginate @tunes

#tune-resources
  %section#tune-books
    = render "resources/index", :resources => Resource.amazon_books.random.limit(5)
