%article#tune
  = render "tunes/header"

  %section#tune-description
    = raw text_to_html(@tune.description)

  #tune-relateables
    - if @tune.tune_progressions.exists?
      %section#tune-progressions
        %h2 Progressions Used in this Tune:
        %ul
          - @tune.tune_progressions.each do |tune_progression|
            %li
              = link_to tune_progression.progression, tune_progression.progression
              - if tune_progression.comment?
                %p= tune_progression.comment

    - if @tune.tune_concepts.exists?
      %section#tune-concepts
        %h2 Concepts Used in this Tune:
        %ul
          - @tune.tune_concepts.each do |tune_concept|
            %li
              = link_to tune_concept.concept, tune_concept.concept
              - if tune_concept.comment?
                %p= tune_concept.comment

  %section#tune-comments
    %h2 Discussion:
    = render "comments/index", :commentable => @tune

#sidebar
  - if @tune.resources.amazon_books.exists?
    %section#tune-books
      %h2 Resources:
      = render "resources/index", :resources => @tune.resources.amazon_books.random.limit(3)

  - if @tune.resources.itunes_tracks.exists?
    %section#tune-recordings
      %h2 Popular Recordings:
      = render "resources/index", :resources => @tune.resources.itunes_tracks.random.limit(10)


