%h1 Jazzity

%nav
  %ul
    %li= link_to "Home", root_path
    %li= link_to "Tunes", tunes_path
    %li= link_to "Musicians", musicians_path
    %li= link_to "Scales &amp; Modes", scales_path
    %li= link_to "Chords &amp; Voicings", chords_path
    %li= link_to "Progressions &amp; Form", progressions_path
    %li= link_to "Jazz Concepts", concepts_path
