%h1 Jazzity
%h2 The Jazz Community &amp; Knowledge Engine...

%nav
  %ul
    = navigation_link_to "Home", root_path, DashboardsController
    = navigation_link_to "Tunes", tunes_path, TunesController
    = navigation_link_to "Musicians", musicians_path, MusiciansController
    = navigation_link_to "Scales & Modes", scales_path, [ScalesController, ModesController]
    = navigation_link_to "Chords & Voicings", chords_path, [ChordsController, VoicingsController, ChordSequencesController, NoteSequencesController]
    = navigation_link_to "Progressions & Form", progressions_path, [ProgressionsController, ChordNoteSequencesController]
    = navigation_link_to "Jazz Concepts", concepts_path, ConceptsController

%aside
  - if musician_signed_in?
    = image_tag current_musician.avatar_url, :class => "avatar"
    = link_to "Welcome, #{current_musician}", edit_musician_registration_path
    &nbsp;&nbsp;&nbsp;
    = link_to "My Profile", musician_path(current_musician)
    &nbsp;&nbsp;&nbsp;
    = link_to "Sign Out", destroy_musician_session_path, :method => :delete
  - else
    = link_to "Sign In with Facebook", musician_omniauth_authorize_path(:facebook)
    &nbsp;&nbsp;&nbsp;
    = link_to "Sign In", new_musician_session_path
    &nbsp;&nbsp;&nbsp;
    = link_to "Sign Up", new_musician_registration_path

