%h1 Jazzity
%h2 The Jazz Community &amp; Knowledge Engine...

%nav
  %ul
    = navigation_link_to "Home", root_path, DashboardsController
    = navigation_link_to "Tunes", tunes_path, TunesController
    = navigation_link_to "Musicians", musicians_path, MusiciansController
    = navigation_link_to "Scales & Modes", scales_path, [ScalesController, ModesController]
    = navigation_link_to "Chords & Voicings", chords_path, [ChordsController, VoicingsController, ChordSequencesController, NoteSequencesController]
    = navigation_link_to "Progressions & Form", progressions_path, [ProgressionsController, ChordNoteSequencesController]
    = navigation_link_to "Jazz Concepts", concepts_path, ConceptsController
