%h1 Jazzity
%h2 The Jazz Knowledge Engine...

%nav
  %ul
    %li= link_to "Home", root_path
    %li= link_to "Tunes", tunes_path
    %li= link_to "Musicians", musicians_path
    %li= link_to "Scales & Modes", scales_path
    %li= link_to "Chords & Voicings", chords_path
    %li= link_to "Progressions & Form", progressions_path
    %li= link_to "Jazz Concepts", concepts_path
