!!! 5
-# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
-ie_html :lang => 'en', :class => 'no-js' do
  = render :partial => 'layouts/head'

  %body{ :class => "#{controller.class.name.sub(/Controller$/, '').underscore.gsub('/', '_').dasherize}" }
    #container
      %header#header
        = render :partial => 'layouts/header'

      = render :partial => 'layouts/flashes'

      #main
        = yield
      
      %footer#footer
        = render :partial => 'layouts/footer'
    
    -# Javascript at the bottom for fast page loading
    = render :partial => 'layouts/javascripts'
