!!! 5
- html_tag :class => "no-js", :lang => "en" do
  = render :partial => 'layouts/head'

  %body{ :class => "#{controller.class.name.sub(/Controller$/, '').underscore.gsub('/', '_').dasherize} #{@body_class}" }
    = render :partial => 'layouts/github_ribbon'

    #container
      %header#header
        = render :partial => 'layouts/header'

      = render :partial => 'layouts/flashes'

      #main
        = yield
      
      %footer#footer
        = render :partial => 'layouts/footer'
    
    -# Javascript at the bottom for fast page loading
    = render :partial => 'layouts/javascripts'
    = render :partial => 'layouts/analytics'
