!!! 5
-# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
-ie_html :lang => 'en', :class => 'no-js' do
  = render :partial => 'layouts/head'

  %body{ :class => "staff-container #{controller.class.name.sub(/Controller$/, '').underscore.gsub('/', '_').dasherize} #{@body_class}" }
    = yield 

    -# Javascript at the bottom for fast page loading
    = render :partial => 'layouts/javascripts'
